@page "/"

<h1>Hello, FakeIt!</h1>

Welcome to your new persona!

<FetchData> </FetchData>

<br/>

<p><b>The information provided by FakeIt! is intended for testing purposes only.  FakeIt! is not liable for any misuse of the data generated.</b></p>