@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body, h2 {
    font-family: "Helvetica";
    text-align: center;
    background-image: linear-gradient(to bottom right, blue, aqua);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#app {
    background-image: linear-gradient(to bottom right, blue, aqua);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Helvetica";
    text-shadow: 2px 2px black;
    color: white;
}

.loading-section {
    font-family: "Helvetica";
    text-shadow: 1px 1px black;
    color: white;
}

a, .btn-link {
    color: purple;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(72, 0, 55, .5);
    transition: 0.5s;
    width: 50%;
    border-radius: 5px;
    font-family: "Helvetica";
    align-content:center;
    align-items:center;
    background:rgba(0, 0, 0, .5);
    margin: 8px;
    left:24%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .7);
}

.img-other {
    border-radius: 5px 5px 0 0;
    width: 90px;
    height: 90px;
    align-content:center;
    margin-bottom: 10px;
}

.container {
    margin-top: 15px;
    padding: 2px 16px;
    justify-content: flex-end;
}

.btn {
    margin-top: 12px;
    text-shadow: 1px 1px black;
    color: white;
    background-image:linear-gradient(to bottom left, mediumslateblue, mediumpurple);
}

.btn:hover{
    text-shadow: 1px 1px black;
    color:white;
    background-image:linear-gradient(to bottom left, darkslateblue, rebeccapurple);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .7);
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: purple;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

