@page "/abouttheteam"




<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!-- linking font awesome for icons -->
   
</head>

<body>
    <center>
        <h1>Who exactly is, FakeIt?</h1>
        <hr>


        <!-- Other members of the team -->
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/images/utsav.jpeg" />
                    <div class="container">
                        <h3>Utsav Phunyal</h3>


                        <p>FakeIt! CEO</p>




                        <p>
                            Villanova Software Engineering grad student.
                        </p>


                        <button class="button">View</button>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/images/keerthi.jpeg" />
                    <div class="container">
                        <h3>Keerthi Seetha</h3>


                        <p>FakeIt! VP</p>




                        <p>
                            Villanova Software Engineering grad student.
                        </p>


                        <button class="button">View</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="/images/sam.jpeg" />
                    <div class="container">
                        <h3>Sam Rizzo</h3>


                        <p>FakeIt! Project Manager</p>




                        <p>
                            Villanova Software Engineering maven.
                        </p>


                        <button class="button">View</button>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/images/arnold.jpg" />
                    <div class="container">
                        <h3>Nick Langan</h3>


                        <p>FakeIt! Public Relations</p>




                        <p>
                            Villanova Software Engineering, enjoys Smooth Jazz.
                        </p>


                        <button class="button">View</button>
                    </div>
                </div>
            </div>
        </div>
       
    </center>
</body>

